div{
margin:10px;
padding: 10px;
background:rgb(231, 182, 117);
border-radius: 15px;



}
input[type=text],input[type=password]
{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;

}
.container{
    margin: 25%;
    text-align: center;
    justify-content: center;
    
    
}
button{
    margin: 10px;
    padding: 5px;
    background: green;
    border-radius: 5px;
    
}    
h1{
    text-align: center;
    
}
body{
    background-color:rgb(160, 181, 41);
}